body {
      background-color: #21546e;
      font-family: verdana, sans-serif;
      color: white;
    }
    td {
        border: 1px solid grey;
        width: 8em;
        height: 8em;
    }

    label {
        width: 100%;
        height: 100%;
        margin: 0;
    }


    .player {
        background: url("../img/cross.png");
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .ai {
        background: url("../img/circle.png");
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center;
    }